In [9]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [11]:
df = pd.read_csv('CTG.csv')

In [12]:
df.head()

    LB     AC   FM  NSP
0  120  0.000  0.0    2
1  132  0.006  0.0    1
2  133  0.003  0.0    1
3  134  0.003  0.0    1
4  132  0.007  0.0    1

In [15]:
df.isnull().sum()

LB     0
AC     0
FM     0
NSP    0
dtype: int64

In [20]:
df.loc[df['LB'] == 0]

Empty DataFrame
Columns: [LB, AC, FM, NSP]
Index: []

In [26]:
df.loc[df['AC'] <= 0]

       LB   AC   FM  NSP
0     120  0.0  0.0    2
7     122  0.0  0.0    3
8     122  0.0  0.0    3
9     122  0.0  0.0    3
10    151  0.0  0.0    2
...   ...  ...  ...  ...
2117  140  0.0  0.0    1
2118  140  0.0  0.0    1
2119  140  0.0  0.0    1
2120  140  0.0  0.0    1
2121  140  0.0  0.0    2

[894 rows x 4 columns]

In [28]:
df['AC'].value_counts()

AC
0.000    894
0.003    161
0.002    160
0.001    143
0.004    117
0.006    112
0.005    110
0.008    103
0.007     91
0.009     60
0.010     50
0.011     36
0.012     24
0.013     22
0.014     20
0.015      9
0.016      7
0.017      4
0.018      2
0.019      1
Name: count, dtype: int64